@use 'sass:math';

.#{$flex-grid-cell-class-name} {
    box-sizing: border-box;
    flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;

    @each $key, $gutter in $flex-grid-breakpoints {
        @if map-has-key($flex-grid-cell-gutter, $key) {
            @include breakpoint($key) {
                width: calc(100% - #{map-get($flex-grid-cell-gutter, $key)});
                margin-left:  math.div(map-get($flex-grid-cell-gutter, $key), 2);
                margin-right:  math.div(map-get($flex-grid-cell-gutter, $key), 2);
            }
        }
    }

    &--align-top {
        align-self: flex-start;
    }

    &--align-middle {
        align-self: center;
    }

    &--align-bottom {
        align-self: flex-end;
    }

    &--align-stretch {
        align-self: stretch;
    }
}