.#{$flex-grid-container-class-name} {
    $self: &;
    box-sizing: border-box;
    width: 100%;
    max-width: $flex-grid-max-width;
    margin: 0 auto;

    &--frame {
        height: 100%;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    &--fullwidth {
        width: 100%;
        max-width: 100%;
    }
}