@use 'sass:math';

@each $breakpoint, $value in $flex-grid-breakpoints {
    @include breakpoint(#{$breakpoint}) {
        @for $i from 1 through $flex-grid-cell-count {
            .#{$flex-grid-cell-class-name}--#{$breakpoint}-offset-right-#{$i} {
                @each $key, $gutter in $flex-grid-breakpoints {
                    @if map-has-key($flex-grid-cell-gutter, $key) {
                        @include breakpoint($key) {
                            margin-right: calc(#{percentage(math.div(1, $flex-grid-cell-count)) * $i} + #{math.div(map-get($flex-grid-cell-gutter, $key), 2)});
                        }
                    }
                }
            }

            .#{$flex-grid-cell-class-name}--#{$breakpoint}-offset-left-#{$i} {
                @each $key, $gutter in $flex-grid-breakpoints {
                    @if map-has-key($flex-grid-cell-gutter, $key) {
                        @include breakpoint($key) {
                            margin-left: calc(#{percentage(math.div(1, $flex-grid-cell-count)) * $i} + #{math.div(map-get($flex-grid-cell-gutter, $key), 2)});
                        }
                    }
                }
            }
        }
    }
}