@use 'sass:math';

.#{$flex-grid-row-class-name} {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;

    @each $key, $gutter in $flex-grid-breakpoints {
        @if map-has-key($flex-grid-cell-gutter, $key) {
            @include breakpoint($key) {
                width: calc(100% - #{map-get($flex-grid-cell-gutter, $key)});
                margin-left: math.div(map-get($flex-grid-cell-gutter, $key), 2);
                margin-right: math.div(map-get($flex-grid-cell-gutter, $key), 2);
                .#{$flex-grid-row-class-name} {
                    width: calc(100% + #{map-get($flex-grid-cell-gutter, $key)});
                    margin-left: -1 * math.div(map-get($flex-grid-cell-gutter, $key), 2);
                    margin-right: -1 * math.div(map-get($flex-grid-cell-gutter, $key), 2);
                }
            }
        }
    }

    &--vertical {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        flex-flow: column nowrap;
        @each $key, $gutter in $flex-grid-breakpoints {
            @if map-has-key($flex-grid-cell-gutter, $key) {
                @include breakpoint($key) {
                    margin-top: -1 * math.div(map-get($flex-grid-cell-gutter, $key), 2);
                    margin-bottom: -1 * math.div(map-get($flex-grid-cell-gutter, $key), 2);

                    .#{$flex-grid-row-class-name}--vertical {
                        margin-top: -1 * math.div(map-get($flex-grid-cell-gutter, $key), 2);
                        margin-bottom: -1 * math.div(map-get($flex-grid-cell-gutter, $key), 2);
                    }

                    > .#{$flex-grid-cell-class-name} {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                        height: calc(100% - #{map-get($flex-grid-cell-gutter, $key)});
                        margin-top: math.div(map-get($flex-grid-cell-gutter, $key), 2);
                        margin-bottom: math.div(map-get($flex-grid-cell-gutter, $key), 2);
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &--collapse {
        margin: 0;
        .#{$flex-grid-cell-class-name} {
            margin: 0;
        }
    }

    &--reverse {
        flex-direction: row-reverse;
    }

    &--fullwidth {
        max-width: none;
    }

    &--align-left {
        justify-content: flex-start;
    }

    &--align-center {
        justify-content: center;
    }

    &--align-right {
        justify-content: flex-end;
    }

    &--align-justify {
        justify-content: space-between;
    }

    &--align-even {
        justify-content: space-evenly;
    }

    &--align-spaced {
        justify-content: space-around;
    }

    &--align-top {
        align-items: flex-start;
    }

    &--align-middle {
        align-items: center;
    }

    &--align-bottom {
        align-items: flex-end;
    }

    &--align-stretch {
        align-items: stretch;
    }
}