@use 'sass:math';

@each $breakpoint, $value in $flex-grid-breakpoints {
    @include breakpoint(#{$breakpoint}) {
        @for $i from 1 through $flex-grid-cell-count {
            .#{$flex-grid-cell-class-name}--#{$breakpoint}-#{$i} {
                @each $key, $gutter in $flex-grid-breakpoints {
                    @if map-has-key($flex-grid-cell-gutter, $key) {
                        @include breakpoint($key) {
                            width: calc(#{percentage(math.div(1, $flex-grid-cell-count)) * $i} - #{map-get($flex-grid-cell-gutter, $key)});
                        }
                    }
                }
            }
        }
        .#{$flex-grid-cell-class-name}--#{$breakpoint}-auto {
            flex: 1 1 0px;
            width: auto;
        }
        .#{$flex-grid-cell-class-name}--#{$breakpoint}-shrink {
            flex: 0 1 auto;
            width: auto;
        }

        @for $i from 1 through $flex-grid-cell-count {
            .#{$flex-grid-row-class-name}--vertical {
                .#{$flex-grid-cell-class-name}--#{$breakpoint}-#{$i} {
                    @each $key, $gutter in $flex-grid-breakpoints {
                        @if map-has-key($flex-grid-cell-gutter, $key) {
                            @include breakpoint($key) {
                                height: calc(#{percentage(math.div(1, $flex-grid-cell-count)) * $i} - #{map-get($flex-grid-cell-gutter, $key)});
                            }
                        }
                    }
                }
            }
        }
        .#{$flex-grid-row-class-name}--vertical {
            .#{$flex-grid-cell-class-name}--#{$breakpoint}-auto {
                flex: 1 1 0px;
                height: auto;
            }
            .#{$flex-grid-cell-class-name}--#{$breakpoint}-shrink {
                flex: 0 1 auto;
                height: auto;
            }
        }
        @for $i from 1 through $flex-grid-cell-count {
            .#{$flex-grid-row-class-name}--collapse {
                .#{$flex-grid-cell-class-name}--#{$breakpoint}-#{$i} {
                    height: #{percentage(math.div(1, $flex-grid-cell-count)) * $i};
                }
            }
        }
    }
}