@mixin breakpoint($breakpoint) {
    @if map-has-key($flex-grid-breakpoints, $breakpoint) {
        @media all and (min-width: map-get($flex-grid-breakpoints, $breakpoint)) {
            @content;
        }
    }
    @else {
        @error 'Your specified breakpoint \'#{$breakpoint}\' is not present in the $flex-grid-breakpoints map. To use the breakpoint \'#{$breakpoint}\', add it to the $flex-grid-breakpoints map in the settings file.';
    }
}