/**
 * Table of Conents
 * ----------------
 * 0. Naming
 * 1. Media Queries
 * 2. The Grid
 */

// 0. Naming
$flex-grid-container-class-name: 'flex-grid' !default;
$flex-grid-row-class-name: 'flex-grid__row' !default;
$flex-grid-cell-class-name: 'flex-grid__cell' !default;

// 1. Media Queries
$flex-grid-breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px
) !default;

// 2. The Grid
$flex-grid-cell-count: 12 !default;
$flex-grid-max-width: 1024px !default;
$flex-grid-cell-gutter: (
    small: 1rem,
    medium: 2rem
) !default;